<nav class="navbar fixed-bottom navbar-light bg-light border-top d-md-none">
    <div class="container d-flex justify-content-around">
        <a href="/src/index.html" class="text-center nav-item" id="nav-home">
            <i class="bi bi-house-door-fill fs-4"></i><br>
            <span class="small">หน้าหลัก</span>
        </a>
        <a href="#" class="text-center nav-item" id="nav-articles">
            <i class="bi bi-book fs-4"></i><br>
            <span class="small">บทความ</span>
        </a>
        <a href="#" class="text-center nav-item" id="nav-exercise">
            <i class="bi bi-heart fs-4"></i><br>
            <span class="small">ออกกำลังกาย</span>
        </a>
        <a href="/src/setting.html" class="text-center nav-item" id="nav-settings">
            <i class="bi bi-gear fs-4"></i><br>
            <span class="small">ตั้งค่า</span>
        </a>
    </div>
</nav>



